name: Build and push Docker image

on:
  pull_request:
    branches: [ main ]
    
    

#env:
#   DOCKERHUB_USERNAME: joshinikhil27
#   IMAGE_NAME: docker_image_fast_api
#   DOCKERHUB_PASSWORD: Docker@123

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ env.DOCKERHUB_USERNAME }}
        password: ${{ env.DOCKERHUB_PASSWORD }}

    - name: Build Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: ${{ env.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:latest
        dockerfile: Dockerfile

    - name: Scan image using Anchore Plugin
      uses: anchore/scan-action@v3
      with:
        image: ${{ env.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:latest
        output-format: table
      continue-on-error: true

    # - name: Anchore Container Scan
    #   # You may pin to the exact commit or the version.
    #   # uses: anchore/scan-action@4be3c24559b430723e51858969965e163b196957
    #   uses: anchore/scan-action@v3.3.5
    #   continue-on-error: true
    #   with:
    #     # The image to scan. This option is mutually exclusive with "path" and "sbom". 
    #     image: ${{ env.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:latest
    #     # The path to scan. This option is mutually exclusive with "image" and "sbom".
    #     path: # optional
    #     # The SBOM file to scan. This option is mutually exclusive with "path" and "image".
    #     sbom: # optional
    #     # Set to false to avoid failing based on severity-cutoff. Default is to fail when severity-cutoff is reached (or surpassed)
    #     fail-build: false
    #     # Set the output parameter after successful action execution. Valid choices are "json", "sarif", and "table".
    #     output-format: json
    #     # Optionally specify the minimum vulnerability severity to trigger an "error" level ACS result.  Valid choices are "negligible", "low", "medium", "high" and "critical".  Any vulnerability with a severity less than this value will lead to a "warning" result.  Default is "medium".
    #     severity-cutoff: # optional, default is medium
    #     # Specify whether to only report vulnerabilities that have a fix available.  Default is false.
    #     only-fixed: # optional, default is false
    #     # Specify whether to autogenerate missing CPEs.  Default is false.
    #     add-cpes-if-none: # optional, default is false

    - name: Scan image using Azure Container Scan Plugin
      uses: Azure/container-scan@v0
      with:
        image-name: ${{ env.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:latest
        severity-threshold: CRITICAL
        run-quality-checks: true
      continue-on-error: true   

    - name: Run Trivy vulnerability scanner
      uses: aquasecurity/trivy-action@7b7aa264d83dc58691451798b4d117d53d21edfe
      with:
          image-ref: '${{ env.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:latest'
          format: 'table'
          severity: 'CRITICAL,HIGH'
      continue-on-error: true   
        
#     - name: Run Checkov action
#       id: checkov
#       uses: bridgecrewio/checkov-action@master
#       with:
#         quiet: true # optional: display only failed checks
#         soft_fail: true # optional: do not return an error code if there are failed checks
#         log_level: DEBUG # optional: set log level. Default WARNING
#         docker_image: ${{ env.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:latest # define the name of the image to scan
#         dockerfile_path: . # path to the Dockerfile
# #         container_user: 1000 # optional: Define what UID and / or what GID to run the container under to prevent permission issues
#         api-key: ${{ secrets.BC_API_KEY }} # Bridgecrew API key stored as a GitHub secret
        


#     - name: Upload Trivy scan results to GitHub Security tab
#       uses: github/codeql-action/upload-sarif@v2
#       with:
#           sarif_file: 'trivy-results.sarif'
        
    

          
#     - name: Docker Vulnerability Scan With Phonito Security
#         # You may pin to the exact commit or the version.
#         # uses: phonito/phonito-scanner-action@f15b09c548f06bb567aa18c3801515f62f9293be
#       uses: phonito/phonito-scanner-action@v1.1.0
#       with:
#         # Image and tag of Docker image to scan, e.g. my-app:latest
#         image: ${{ env.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:latest 
#         # The minimum severity of a vulnerability that will fail the build. e.g. LOW to fail all builds containing any vulnerability or CRITICAL to only fail on severe vulnerabilities but not MEDIUM ones. options: LOW, MEDIUM, HIGH, CRITICAL
#         fail-level: Medium
#         # Token for your Phonito Security account. Get a token from: https://phonito.io/setup-ci
#         phonito-token: 
